
<div class="container">
	<table class="table">
		<thead>
	      <tr>
	        <th>Product Name</th>
	        <th>Unit</th>
	        <th>Quantity</th>
	        <th>Product Price</th>
	        <th>In Box Price</th>
	      </tr>
	    </thead>
	    <tbody>
		    <% @order_items.each do |oi| %>
		    	<tr>
			        <td><%= oi.product.name %></td>
			        <td><%= oi.product.unit %></td>
			        <td><%= best_in_place oi, :quantity, :as => :input%></td>
			        <td><%= oi.product.price %></td>
			        <td><%= best_in_place oi, :unit_price, :as => :input %></td>
			    </tr>
			<% end %>
		</tbody>

	</table>
</div>


<div class="form-actions" style="margin-left:0px;border-style:none;border-radius: 0%/100%">
      <%= link_to "Back", edit_admin_box_path(@box),:class=>'button' %> 
    
</div>
