<!DOCTYPE html>
<html>
  <head>
    <title>Mi Feria</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<div class="navbar-container">
	    <%= render 'layouts/navbar' %>
	</div>
	<div class = "main-container">
	    <%= yield %>
	</div>
  </body>
</html>
